/* .counter {
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
}

.counter button {
  height: 25px;
  width: 25px;
  margin: 10px;
  font-size: 20px;
} */
